<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TruelayerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC36D3C11EC0887D0083A8A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC36D3D51EC0887D0083A8A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC36D3E01EC0887D0083A8A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
